* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

nav img {
    width: 100%;
  }

nav a .tamLogo {
    width: 120px;
}

nav .carrito {
    height: 20px;
    width: auto;
    /* padding-left: 30px;     */
    margin-left: auto;
}

.fuentesNav {
    font-size: 1rem;
    padding-left: 3rem;
}

nav {
    border-bottom: solid 5px #e9e7e9;
    background-color: #944e82;
}

.nav-item a {
    color: #fefefe;
}

.menu {
    text-decoration: none;
    background-image: linear-gradient(#f0edef, #f0edef);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.dropdown-menu {
    background-color: #944e82;
}

.dropdown-item:hover,
.dropdown-item:focus{
    background-color:#944e82;
    color: #fefefe;
}

.menu:hover,
.menu:focus {
    background-size: 100% 2px;
    color: #fefefe;
}

.navbar-toggler {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

h1 {
    margin-top: 40px;
    padding: 20px 50px;
    color: #d47fbf;
    font-size: 50px;
    text-align: center;
    font-family: 'Grand Hotel', cursive;
}

.contenedorVideo {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    align-items: center;
}

.youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    border: none;
    padding: 40px 20px;
    align-items: center;
}

@media (min-width:400px) and (max-width: 960px) {
    .contenedorVideo {
        width: auto;
    }
}

/* CARD INDEX */

.accesoDirectoCuadros {
    /* padding: 20px 20px; */
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.accesoDirectoCuadros figure {
    width: 30%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    border: #944e82 solid 2px;
}

.accesoDirectoCuadros figure p {
    text-align: center;
}

.btn {
    border: none;
    background-color: #944e82;
    /* padding: 10px; */
    color: rgb(254, 254, 254);
    border-radius: 5px;
    margin: 3px 0;
}

.btn:hover {
    cursor: pointer;
    color: rgb(254, 254, 254);
    background-color: #903c7b;
}


h2 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px 0;
    /* color: #de7cc6; */
    /* padding: 50px 50px; */
}

@media (min-width:400px) and (max-width: 960px) {
    .accesoDirectoCuadros figure {
        width: 100%;
    }

    .accesoDirectoCuadros btn {
        width: 100%;
    }

   
}
/* CARDS PRODUCTOS */

.card {
    margin: 1rem;
    text-align: center;
    border: #944e82 solid 2 px;
    border-radius: 5px;
}

/* CARDS PROMOS */

.promo {
    text-decoration: line-through;
    color: #944e82;
}

.contenedorContactoPage {
    display: inline-block;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

/* FORM */

.componenteContactoPage {
    display: inline-block;
    margin-right: 30px;
}

.componenteContactoPage h4 {
    font-size: 1,5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#944e82;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

form textarea {
    display: block;
    width: 100%;
    padding: 0px 0px;
    margin-bottom: 10px;
    border: 2px solid #b2afaf;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.btnFormulario {
    background-color: #908f8f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.mapContactoPage {
    width: 500px;
    height: 500px;
    border: 1px solid #908f8f;
    border-radius: 5px;
    margin-bottom: 50px;
}

.contenedorContactoPage{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "formulario" "ubicacion";
        gap: 10px;
      }

/* @media (min-width:400px) and (max-width: 960px) {
    .contenedorContactoPage {
        padding: 0 15px; 
    }
    
    #nombre, #email, #mensaje {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .btn {
        width: 100%;
    }

    .map{
        padding: 0 15px; 

    }
} */







/* FOOTER */

footer {
    border-top: 3px solid #944e82;
    /* background-color: #edbded; */
    display: block;
}

/* div {
    display: block;
} */

.uk-container {
    max-width: 1400px;
    display: flow-root;
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

.uk-container>:last-child {
    margin-bottom: 0;
}

.footerItems {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 30px 0px;
    box-sizing: border-box;
}

.footerItem {
    margin-bottom: 15px;
}

.footerPayment {
    width: 275px;
}

/* div {
    display: block;
} */

.footerTitle {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px 0px 15px 0px;
}

h5 {
    font-size: 16px;
    line-height: 1.4;
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.footerIcon {
    width: auto;
    height: 20px;
    margin: 0px 5px 5px 0px;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: middle;
}

.footerSocialMedia {
    padding-left: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerSocialMedia li {
    margin-right: 10px;
}

.uk-flex-row {
    flex-direction: row;
}

.uk-flex {
    display: flex;
}

ul {
    list-style: none;
    padding-left: 30px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.footerInfo {
    padding-left: 0px;
    text-decoration: none;
    text-align: none;
    display: flex;
    flex-direction: column;
    display: list-item;
    color: rgb(10, 10, 10);
}

.footerInfo li {
    margin-bottom: 10px;
}

@media (min-width:400px) and (max-width: 960px) {
    .footerItems {
        flex-direction: column;
    }

    .footerPayment {
        width: auto;

    }

    .footerSocialMedia {
        width: auto;
    }
}

.contenedorContactoPage {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "actions" "filters" "prod1" "prod2" "prod3" "prod4";
    gap: 10px;
  }