@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
/* Extend */
.btn-gral, .modal-dialog .btn, .dropdown .btn-secondary, .btn {
  border: none;
  background-color: #944f83;
  color: rgb(254, 254, 254);
  border-radius: 5px;
  margin: 3px 0;
}

.btn:hover {
  cursor: pointer;
  color: rgb(254, 254, 254);
  background-color: rgb(144, 60, 123);
}

/* Botón desplegable de medidas */
.dropdown .btn-secondary {
  margin-right: 600px;
  margin-bottom: 20px;
}
.dropdown .btn-secondary:hover {
  cursor: pointer;
  color: rgb(254, 254, 254);
  background-color: rgb(144, 60, 123);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.8em;
  text-align: center;
  color: rgb(212, 125, 190);
  padding: 20px 50px;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
}

h2,
h3,
h4 {
  text-align: center;
  font-size: 1em;
  margin: 10px;
}

h5 {
  font-family: "Bad Scrip";
  color: rgb(212, 125, 190);
  font-size: 1.8em;
}

h6 {
  text-align: left;
  font-weight: 600;
}

figcaption {
  font-weight: 600;
  text-align: center;
  font-size: 1.2em;
  margin: 10px 10px;
  font-family: "Bad Scrip";
  color: rgb(11, 11, 11);
}

/* Header */
header {
  width: 100%;
}
header img {
  width: 100%;
  height: auto;
}

/* Navbar */
nav {
  border-bottom: solid 5px rgb(254, 254, 254);
  background-color: #944f83;
}
nav img {
  width: 100%;
}
nav a .tamLogo {
  width: 120px;
}
nav .carrito {
  height: 20px;
  width: auto;
  margin-left: auto;
}
nav .fuentesNav {
  font-size: 1.8em;
  padding-left: 3rem;
}
nav .nav-item a {
  color: rgb(254, 254, 254);
}
nav .menu {
  text-decoration: none;
  background-image: linear-gradient(rgb(254, 254, 254), rgb(254, 254, 254));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
nav .menu:hover, nav .menu:focus {
  background-size: 100% 2px;
  color: rgb(254, 254, 254);
}
nav .dropdown-menu {
  background-color: #944f83;
}
nav .dropdown-item:hover, nav:focus {
  background-color: #944f83;
  color: rgb(254, 254, 254);
}
nav .navbar-toggler {
  background-color: transparent;
  border: 2px solid rgb(254, 254, 254);
  border-radius: 4px;
}
nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-menu {
  background-color: #944f83;
}
.dropdown-menu .dropdown-item {
  color: rgb(254, 254, 254);
}
.dropdown-menu .dropdown-item:hover {
  cursor: pointer;
  color: rgb(254, 254, 254);
  background-color: rgb(144, 60, 123);
}

/* Banner */
.banner {
  text-align: center;
  padding: 40px 0;
}
.banner .container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.banner img {
  max-width: 50px;
  height: auto;
  padding-bottom: 10px;
}
.banner .servicio {
  flex: 1;
  max-height: 250px;
  padding: 20px;
  overflow: auto;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.banner .tituloBanner {
  font-size: 1.2em;
}
.banner .parrafoBanner {
  font-size: 1em;
}

/* footer */
.footer {
  padding: 20px 0;
  text-align: center;
  border-top: 3px solid #944f83;
  background-color: #944f83;
}
.footer .footerContainer {
  max-width: 1200px;
  margin: 0 auto;
}
.footer .footerItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .footerItem {
  flex: 1;
  padding: 10px;
  text-align: left;
}
.footer .footerItem h5 {
  font-size: 1.2em;
  color: rgb(254, 254, 254);
  margin-bottom: 10px;
}
.footer .footerIcons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.footer .footerIcon {
  max-width: 40px;
  max-height: 40px;
}
.footer .footerSocialMedia {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0px;
}
.footer .footerSocialMedia li {
  margin-right: 10px;
}
.footer .footerSocialMedia a {
  color: rgb(254, 254, 254);
  text-decoration: none;
}
.footer .footerInfo {
  padding-left: 0px;
  list-style: none;
  margin-top: 5px;
}
.footer .footerInfo a {
  color: rgb(254, 254, 254);
  text-decoration: none;
}

/* Error 404 */
.error404 {
  text-align: center;
  margin-top: 100px;
}
.error404 img {
  max-width: 40%;
  display: block;
  margin: 0 auto;
}

/* Cards index */
.accesoDirectoCuadros {
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.accesoDirectoCuadros figure {
  width: 30%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  border: #944f83 solid 2px;
}

/* Cards products */
.card {
  margin: 1rem;
  text-align: center;
  border: rgb(212, 125, 190) solid 2px;
  border-radius: 5px;
  margin-bottom: 90px;
}

.promo {
  text-decoration: line-through;
  color: #944f83;
}

.img-fluid {
  padding-top: 20px;
}

.card-text p {
  text-align: left;
  text-justify: auto;
}

/* Modal */
.modal-dialog .btn:hover {
  cursor: pointer;
  color: rgb(254, 254, 254);
  background-color: rgb(144, 60, 123);
}
.modal-dialog .modal-body {
  font-size: 1.2em;
  text-align: center;
}

.modal-footer {
  justify-content: space-around;
}

/* Contact*/
.contenedorContactoPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contactoContenedor {
  max-width: 400px;
  width: 100%;
  margin-top: 20px;
}
.contactoContenedor .form-label {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 20px;
  color: rgb(11, 11, 11);
  font-weight: bold;
  font-size: 1em;
}
.contactoContenedor .textArea {
  display: block;
  width: 100%;
  padding: 0px 0px;
  margin-bottom: 10px;
  border: 2px solid #944f83;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: 10px;
  max-height: 150px;
}

.form-control.textArea:focus,
.form-control.textArea:active {
  background-color: rgb(212, 125, 190);
}

.mapContactoPage {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  display: block;
}

/* Video index */
.contenedorVideo {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  align-items: center;
  flex-wrap: wrap;
  flex: auto;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.contenedorVideo .youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  border: none;
  padding: 40px 20px;
  align-items: center;
  flex-wrap: wrap;
}
.contenedorVideo iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* Media query */
@media (min-width: 320px) and (max-width: 960px) {
  .accesoDirectoCuadros figure {
    width: 100%;
  }
  .accesoDirectoCuadros btn {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 960px) {
  .footerItems {
    flex-direction: column;
  }
  .footerPayment {
    width: auto;
  }
  .footerSocialMedia {
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 960px) {
  .banner .container {
    flex-direction: column;
  }
  .banner .container .servicio {
    flex: 1;
    max-width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 960px) {
  .contactoContenedor {
    max-width: 100%;
  }
  .contactoContenedor .mapContactoPage {
    max-width: 100%;
  }
}
.cardAnimada {
  white-space: nowrap;
  overflow: hidden;
}
.cardAnimada:hover {
  transform: scale(1.1);
  transition: transform 2s;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
