@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2, 5em;
  text-align: center;
  color: rgb(212, 127, 191);
  padding: 20px 50px;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1, 8em;
  font-weight: 600;
  margin-top: 20px;
}

header {
  width: 100%;
}
header img {
  width: 100%;
  height: auto;
}

footer {
  border-top: 3px solid rgb(148, 78, 130);
  display: block;
}
footer .uk-container {
  max-width: 1400px;
  display: flow-root;
  box-sizing: content-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
}
footer .uk-container > :last-child {
  margin-bottom: 0;
}
footer .Items {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 30px 0px;
  box-sizing: border-box;
}
footer .Item {
  margin-bottom: 15px;
}
footer .footerPayment {
  width: 275px;
}
footer h5 {
  font-size: 2em;
  font-weight: 600;
  margin: 10px 0px 15px 0px;
  line-height: 1.4;
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
footer .footerIcon {
  width: auto;
  height: 20px;
  margin: 0px 5px 5px 0px;
  flex-wrap: wrap;
}
footer ul li a img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow-clip-margin: content-box;
  overflow: clip;
  vertical-align: middle;
}
footer .footerSocialMedia {
  padding-left: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footerSocialMedia li {
  margin-right: 10px;
}
footer .uk-flex-row {
  flex-direction: row;
}
footer .uk-flex {
  display: flex;
  list-style: none;
  padding-left: 30px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
footer .uk-flex li {
  display: list-item;
  text-align: -webkit-match-parent;
}
footer .footerInfo {
  padding-left: 0px;
  text-decoration: none;
  text-align: none;
  display: flex;
  flex-direction: column;
  display: list-item;
  color: rgb(11, 11, 11);
}
footer .footerInfo li {
  margin-bottom: 10px;
}

nav {
  border-bottom: solid 5px rgb(254, 254, 254);
  background-color: rgb(148, 78, 130);
}
nav img {
  width: 100%;
}
nav a .tamLogo {
  width: 120px;
}
nav .carrito {
  height: 20px;
  width: auto;
  margin-left: auto;
}
nav .fuentesNav {
  font-size: 1, 8em;
  padding-left: 3rem;
}
nav .nav-item a {
  color: rgb(254, 254, 254);
}
nav .menu {
  text-decoration: none;
  background-image: linear-gradient(rgb(254, 254, 254), rgb(254, 254, 254));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
nav .menu:hover, nav .menu:focus {
  background-size: 100% 2px;
  color: rgb(254, 254, 254);
}
nav .dropdown-menu {
  background-color: rgb(148, 78, 130);
}
nav .dropdown-item:hover, nav:focus {
  background-color: rgb(148, 78, 130);
  color: rgb(254, 254, 254);
}
nav .navbar-toggler {
  background-color: transparent;
  border: 2px solid rgb(254, 254, 254);
  border-radius: 4px;
}
nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.accesoDirectoCuadros {
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.accesoDirectoCuadros figure {
  width: 30%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  border: rgb(148, 78, 130) solid 2px;
}
.accesoDirectoCuadros p {
  text-align: center;
}
.accesoDirectoCuadros .btn {
  border: none;
  background-color: rgb(148, 78, 130);
  color: rgb(254, 254, 254);
  border-radius: 5px;
  margin: 3px 0;
}
.accesoDirectoCuadros .btn:hover {
  cursor: pointer;
  color: rgb(254, 254, 254);
  background-color: rgb(144, 60, 123);
}

.card {
  margin: 1rem;
  text-align: center;
  border: rgb(212, 127, 191) solid 2px;
  border-radius: 5px;
}

h2 {
  text-align: center;
  font-size: 1em;
  margin-bottom: 10px 0;
  font-family: "Bad Scrip";
  font-weight: 600;
}

.card .btn {
  border: none;
  background-color: rgb(148, 78, 130);
  color: rgb(254, 254, 254);
  border-radius: 5px;
  margin: 3px 0;
}
.card .btn:hover {
  cursor: pointer;
  color: rgb(254, 254, 254);
  background-color: rgb(144, 60, 123);
}

.promo {
  text-decoration: line-through;
  color: rgb(148, 78, 130);
}

@media (min-width: 400px) and (max-width: 960px) {
  .accesoDirectoCuadros figure {
    width: 100%;
  }
  .accesoDirectoCuadros btn {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
