/* Cards index */

.accesoDirectoCuadros {
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    figure {
        width: 30%;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        border: $mainColor solid 2px;
    }

}

/* Cards products */

.card {
    @include Cards(1rem, center, border, 5px);
    margin-bottom: 90px;
}

.promo {
    text-decoration: line-through;
    color: $mainColor;
}

.img-fluid {
    padding-top: 20px
}


.card-text {
    p {
        text-align: left;
        text-justify: auto;
    }
}

/* Modal */

.modal-dialog {
    .btn {
        @extend .btn-gral;

        &:hover {
            cursor: pointer;
            color: $white;
            background-color: $btnHover;
        }
    }
    .modal-body {
        font-size: $fontSm;
        text-align: center;
        color: red;
    }
}

.modal-footer {
    justify-content: space-around;
}