* {
    font-family: $mainFont;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1 {
    @include Titulos(size, align, color, paddding, margin-top);
    font-family: $mainFont;
}

h2{
    @include TextosPrecio(center,font-size,10px,)
}

h3{
    @include TextosPrecio(center,font-size,10px,)
}

header {
    width: 100%;

    img {
        width: 100%;
        height: auto;
    }
}


/* footer */

.footer {
    padding: 20px 0;
    text-align: center;
    border-top: 3px solid $mainColor;
    background-color: $mainColor;

    .footerContainer {
        max-width: 1200px;
        margin: 0 auto;
    }

    .footerItems {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footerItem {
        flex: 1;
        padding: 10px;
        text-align: left;
    }

    .footerItem h5 {
        font-size: $fontMd;
        color: $white;
        margin-bottom: 10px;
    }

    .footerIcons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .footerIcon {
        max-width: 40px;
        max-height: 40px;
    }

    .footerSocialMedia {
        list-style: none;
        display: flex;
        align-items: center;
        padding-left: 0px;

        & li {
            margin-right: 10px;
        }

        & a {
            color: $white;
            text-decoration: none;
        }
    }

    .footerInfo {
        padding-left: 0px;
        list-style: none;
        margin-top: 5px;

        & a {
            color: $white;
            text-decoration: none;
        }
    }
}


/* Navbar */

nav {
    border-bottom: solid 5px $white;
    background-color: $mainColor;

    img {
        width: 100%;
    }

    a .tamLogo {
        width: 120px;
    }

    .carrito {
        height: 20px;
        width: auto;
        margin-left: auto;
    }

    .fuentesNav {
        font-size: $fontMd;
        padding-left: 3rem;
    }

    .nav-item a {
        color: $white;
    }

    .menu {
        text-decoration: none;
        background-image: linear-gradient($white, $white);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;

        &:hover,&:focus {
            background-size: 100% 2px;
            color: $white;
        }
    }

    .dropdown-menu {
        background-color: $mainColor;
    }

    .dropdown-item:hover,
    &:focus {
        background-color: $mainColor;
        color: $white;
    }

    .navbar-toggler {
        background-color: transparent;
        border: 2px solid $white;
        border-radius: 4px;

        &-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }


}