/* Contacto*/

.contenedorContactoPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contactoContenedor {
    max-width: 400px;
    width: 100%;
    margin-top: 20px;

    .form-label {
        display: block;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 20px;
        color: $keyColor;
        font-weight: bold;
        font-size: $fontXs;
    }

    .textArea {
        display: block;
        width: 100%;
        padding: 0px 0px;
        margin-bottom: 10px;
        border: 2px solid $mainColor;
        border-radius: 5px;
        font-size: $fontXs;
        margin-bottom: 10px;
        max-height: 150px;

    }
}

.form-control.textArea:focus,
.form-control.textArea:active {
    background-color: $secondaryColor;
    color: $white;
    font-weight:300;
}


.mapContactoPage {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    display: block;
}