/* Media query */

@media (min-width:400px) and (max-width: 960px) {
    .accesoDirectoCuadros figure {
        width: 100%;
    }

    .accesoDirectoCuadros btn {
        width: 100%;
    }
}

@media (min-width:400px) and (max-width: 960px) {
    .footerItems {
        flex-direction: column;
    }

    .footerPayment {
        width: auto;

    }

    .footerSocialMedia {
        width: auto;
    }
}

@media (min-width:400px) and (max-width: 960px) {

    .banner {
        .container {
            flex-direction: column;

            .servicio {
                flex: 1;
                max-width: 100%;
            }
        }
    }
}