@mixin Titulos($size, $align, $color, $paddding, $margin) {
    font-size: $fontMd;
    text-align: center;
    color: $secondaryColor;
    padding: 20px 50px;
    margin-top: 40px;
}

@mixin Cards($margin, $align, $border, $radius) {
    margin: $margin;
    text-align: $align;
    border: $secondaryColor solid 2px;
    border-radius: $radius;
}

@mixin Textos($weight, $align, $Size, $margin) {
    font-weight: $fontBold;
    text-align: $align;
    font-size: $fontSm;
    margin: $margin;
}

@mixin TextosPrecio($align, $Size, $margin, ) {
    text-align: $align;
    font-size: $fontXs;
    margin: $margin;
}

/* Extend */

.btn-gral {
    border: none;
    background-color: $mainColor;
    color: $white;
    border-radius: 5px;
    margin: 3px 0;
}

.btn {
    @extend .btn-gral;

    &:hover {
        cursor: pointer;
        color: $white;
        background-color: $btnHover;
    }
}


/* Botón desplegable de medidas */

.dropdown {
    .btn-secondary {
        @extend .btn-gral;
       margin-right: 600px;
       margin-bottom: 20px;
        &:hover {
            cursor: pointer;
            color: $white;
            background-color: $btnHover;
        }
    }
}