
 /* Cards products */

.card {
    @include Cards(1rem, center, border, 5px)
}

figcaption{
    @include Textos(font-weight,center,font-size, 10px 10px );
    font-family: $secondaryFont;
    color: $keyColor;
}

.card {
    .btn {
        border: none;
        background-color: $mainColor;
        color: $white;
        border-radius: 5px;
        margin: 3px 0;

        &:hover {
            cursor: pointer;
            color: $white;
            background-color: $btnHover;
        }
    }

}

.promo {
    text-decoration: line-through;
    color: $mainColor;
}

.modal-dialog{
    .btn {
        border: none;
        background-color: $mainColor;
        color: $white;
        border-radius: 5px;
        margin: 3px 0;

        &:hover {
            cursor: pointer;
            color: $white;
            background-color: $btnHover;
        }
    }

}