// Paleta de colores
$mainColor: rgb(148, 78, 130);
$secondaryColor: rgb(212, 127, 191);
$keyColor: rgb(11, 11, 11);
$white: rgb(254, 254, 254);

// Paleta de colores botones

$btnHover: rgb(144, 60, 123);

// Fonts
$mainFont:'Roboto', sans-serif;
$secondaryFont: 'Bad Scrip';

// Font Sizes 
$fontXs: 1em;
$fontSm:1.2em;
$fontMd:1.8em;
$fontXl:2em;
$fontXxl:2.5em;

// Font weight
$fontRegular:400;
$fontBold:600;
