/* Video index */

.contenedorVideo {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    align-items: center;
    flex-wrap: wrap;
    flex: auto;
    display: flex;
    justify-content: center;
    height: 100vh;

    .youtube-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
        border: none;
        padding: 40px 20px;
        align-items: center;
        flex-wrap: wrap;
    }

    iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}